#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTPS} !=on [NC]
#RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
#</IfModule>

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

<IfModule mod_brotli.c>
    AddOutputFilterByType BROTLI_COMPRESS application/php text/css text/html text/plain text/xml application/javascript application/ld+json application/json image/gif image/jpeg image/png image/jpg image/svg image/gif image/webp image/x-icon
</IfModule>

<IfModule mod_headers.c>
    FileETag None
    Header unset ETag
    Header unset Pragma
    Header unset Cache-Control
    Header unset Last-Modified
	 # default cache 1 year = 31556926 s
    Header set Cache-Control "max-age=31556926, public, no-transform, must-revalidate"
<IfModule mod_alias.c>
    <FilesMatch "\.(htm|html|json|rss|txt|xhtml|xml)$">
        # cache markup for 1 week
        Header set Cache-Control "max-age=604800, public, no-transform, must-revalidate"
    </FilesMatch>
        <FilesMatch "\.(js|css)$">
        # cache for 1 week = 604800 seconds
        Header set Cache-Control "max-age=604800, public, no-transform, must-revalidate"
    </FilesMatch>
            <FilesMatch "\.(gif|jpe|jpeg|jpg|png|ico)$">
                # cache image files for 1 month = 2629744 seconds
                Header set Cache-Control "max-age=2629744, public, no-transform, must-revalidate"
    </FilesMatch>
            <FilesMatch "\.(doc|eot|flv|mp4|ogg|pdf|svg|swf|ttf|woff)$">
                # cache fonts and media files for 1 month = 2629744 seconds
                Header set Cache-Control "max-age=2629744, public, no-transform, must-revalidate"
    </FilesMatch>
</IfModule>

# disable file-caching during site maintenance (temporary)
# <FilesMatch "\.(css|flv|gif|htm|html|ico|jpe|jpeg|jpg|js|png|pdf|swf|txt)$">
#     <IfModule mod_expires.c>
#     ExpiresActive Off
#     </IfModule>
#     <IfModule mod_headers.c>
#         FileETag None
#         Header unset ETag
#         Header unset Pragma
#         Header unset Cache-Control
#         Header unset Last-Modified
#         Header set Pragma "no-cache"
#         Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#         Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
#     </IfModule>
# </FilesMatch>

# MIME TYPES
<IfModule mod_mime.c>
	
	# DEFAULTS
	DefaultLanguage en
	AddLanguage en-US .html .css .js
	AddCharset utf-8 .html .css .js .xml .json .rss .atom
	
	# JAVASCRIPT
	AddType application/javascript js jsonp
	AddType application/json json
	
	# FONTS
	AddType font/opentype otf
	AddType application/font-woff woff
	AddType application/x-font-woff woff
	AddType application/vnd.ms-fontobject eot
	AddType application/x-font-ttf ttc ttf
	AddType image/svg+xml svg svgz
	AddEncoding gzip svgz
	
	# AUDIO
	AddType audio/mp4 m4a f4a f4b
	AddType audio/ogg oga ogg
	
	# VIDEO
	AddType video/mp4 mp4 m4v f4v f4p
	AddType video/ogg ogv
	AddType video/webm webm
	AddType video/x-flv flv
	
	# OTHERS
	AddType application/octet-stream safariextz
	AddType application/x-chrome-extension crx
	AddType application/x-opera-extension oex
	AddType application/x-shockwave-flash swf
	AddType application/x-web-app-manifest+json webapp
	AddType application/x-xpinstall xpi
	AddType application/xml atom rdf rss xml
	AddType application/vnd.openxmlformats .docx .pptx .xlsx .xltx . xltm .dotx .potx .ppsx
	AddType text/cache-manifest appcache manifest
	AddType text/vtt vtt
	AddType text/x-component htc
	AddType text/x-vcard vcf
	AddType image/webp webp
	AddType image/x-icon ico
	
</IfModule>

Header set Access-Control-Allow-Origin "*"