@lost gutter 2px;

$width: 100vw;
$height: 100vh;


.master-grid-box {
    
    width:$width;
    min-height: 100vh;
    background-color: #3023e4;
    display: flex;
    flex-flow: wrap;

}

.grid-box {

    background-color:red;
    width: $width / 4;
    padding: 20rem;
 

    // Setting up flipping card approach

    perspective: 150rem;
    position: relative;

    & .side {

        height: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow:hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

    }

    & .side.logo-image {

        background-color: yellow;

        z-index:1;

        transition: all 0.7s ease-in-out;

        transform: rotateY(0);

        & > h3 {

            font-size: 4rem;
            position: relative;
            top: 50%;
            text-align: center;

        }

        

    }

    & .side.site-thumbnail {

        background-color: #00a0ff; 
        
        transform: rotateY(180deg);

        transition: all 0.7s ease-in-out; 

        & > h3 {

            font-size: 4rem;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;

        }

        
    }

    &:hover .side.logo-image {

        transform: rotateY(-180deg);

    }

    &:hover .side.site-thumbnail {

        transform: rotateY(0);

    }

}

    // .flip-logo {

    //     transform: rotateY(-180deg);
    
    // }

    // .flip-thumbnail {

    //     transform: rotateY(0);

    // }
