#edfx-svg-logo {
  left: 50%;

  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 2000;

}

#edfx-svg-logo-cont {
  background: #fff;
  display: none;
  height: 100vh;
  opacity: 0;

  position: fixed;
  transition: 0.2s all ease-in-out;
  width: 100vw;
  z-index: 5000;

}
