#edfx-svg-logo {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2000;

}

#edfx-svg-logo-cont {

    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    background: #fff;
    opacity: 0;
    transition: 0.2s all ease-in-out;

}