$margin-top: 7rem;

// .hamburger {
//     @media all and (max-width:992px) {

//         opacity: 0.2 !important;

//     }
// }

.edfx-toggle-menu {

    z-index: -1;
    position: fixed;
    right:0;
    width: 0;
    height: 0;
    // background: linear-gradient(to bottom, rgb(188, 229, 254) 90%, rgb(255, 255, 255));
    background: $edfx_red;
    transition: all 0.2s ease-in-out;
    // border-bottom: 4px solid #FF855E;

    &__item {

        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 40px;
        top: 25%;
        left: 50%;
        opacity: 0;

        & > a {
            text-decoration: none;
            font-size: 5rem;
            position: relative;
            // text-shadow: 1px 1px 1px #b02019;
            color: #fff;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
        }

        &--slide {

            position: fixed;
            background-size: cover;
            opacity: 0;
            z-index: 399;
            width: 0%;
            height: 0%;
            transition: all 0.2s ease-in-out;

            animation: 10s linear 0s infinite alternate kenBurns;

            &:nth-child(even) {

                // background-color: $edfx_blue;
                background-blend-mode: multiply;  

            }

            &:nth-child(odd) {

                // background-color: $edfx_red;
                background-blend-mode: multiply;  

            }

            &[data-menu-item-slide="home"] {
               
                background-image: url(/images/deep-ellum-smiley-face-1.jpg);
                           

            }

            &[data-menu-item-slide="about"] {
               
           
                background-image: url(/images/headway-537308-unsplash-1024x683.jpg);
                          

            }

            &[data-menu-item-slide="portfolio"] {
               
          
                background-image: url(/images/igor-miske-207639-unsplash-1024x591.jpg);
                       

            }

            &[data-menu-item-slide="services"] {
               
           
                background-image: url(/images/Dallas_Skyline_with_Arts_District_rs.jpg);
                       

            }

            &[data-menu-item-slide="blog"] {
               
           
                background-image: url(/images/Dallas_Skyline_with_Arts_District_rs.jpg);
                
                
            }

            &[data-menu-item-slide="contact"] {
               
           
                background-image: url(/images/Dallas_Skyline_with_Arts_District_rs.jpg);
                
                
            }

            &--negative {

                background-color: #000;
                z-index: 398;

            }

        }

    }

    &__item:nth-of-type(2) {
        margin-top: $margin-top;
    }

    &__item:nth-of-type(3) {
        margin-top: $margin-top * 2;
    }

    &__item:nth-of-type(4) {
        margin-top: $margin-top * 3;
    }

    &__item:nth-of-type(5) {
        margin-top: $margin-top * 4;
    }

    &__item:nth-of-type(6) {
        margin-top: $margin-top * 5;
    }
    
   &.is-visible {

    width: 100%;
    border-bottom: 4px solid $edfx_blue;

   }

   &.toggle-height {

    height: 100%;

   }

}

.edfx-toggle-button {
    position: fixed;
    z-index: 500;
    right: 0;
    margin-top: 1.5rem !important;
    margin-right: 2rem !important;
    border-radius:100%;
    background-color: #ff3e02 !important;
    border: 2px solid #00a0ff !important;

    & .hamburger-box {

        height: 28px !important;

    }

    & .hamburger-inner {

        margin-top: 8%;
        
        background-color: #fff !important;
        cursor: pointer !important;
        font-size: 16px !important;
        font-size: 1.6rem !important;
        font-weight: 700 !important;

        &:before, &:after {

            background-color: #fff !important;
           
        }

    }
    
    &:focus {
     
        outline:none;
        
   }
}

@media all and (max-width:768px) {

    .edfx-toggle-button  {

        margin-top: 0.5rem;
        margin-right: 1rem;

    }

}

@media all and (max-width:768px) and (orientation:landscape) {

    .edfx-toggle-menu {

        &__item {

            top: 20%;

        }

    }

}

@media all and (max-width:768px) and (orientation:portrait) {

    .edfx-toggle-menu {

        &__item {

            top: 35%;

        }

    }

}

@media all and (min-width:769px) {

    .edfx-toggle-button {

        margin-top: 1.5rem;
        margin-right: 2rem;

    }

    .edfx-toggle-menu {

        & > .menu-item {

            top: 28%;

        }

    }

}

@keyframes kenBurns {

    from {

        transform: scale(1);

    }

    to {

        transform: scale(1.5)

    }

}