.typewriter { color:#fff; text-decoration: none;}

.typewriter > .wrap { 
  border-right: 0.08em solid rgba(255,255,255,1);
  position: relative;
  padding-right:1rem;
  display: inline-block;
/*   left: 10rem; */
}