$gallery-trans: all 0.1s ease-in-out;
$edfx-red: #fd3819;
$edfx-blue: #00a0ff;

@mixin bg-fb {

	background-color: rgba(255,255,255,1);

}

@mixin bg-grad-ms {

	background: filter-gradient(#ffffff, #ededed, vertical);

}

@mixin bg-grad {

	background-image: (linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%));

}