$edfx_blue: #00a0ff;
$edfx_red: #fd3819;
$edfx_dark_maroon: #4A271E;
$edfx_beige: #FFEBE9;
$edfx_black: #281713;

.edfx-red {

    color: $edfx_red !important;

}

.edfx-blue {

    color: $edfx_blue !important;

}

.edfx-dark-maroon {

    color: $edfx_dark_maroon !important;

}

.edfx-beige {

    color: $edfx_beige !important;

}

.edfx-black {

    color: $edfx_black !important;

}

.edfx-red-bg {

    background-color: $edfx_red !important;

}

.edfx-blue-bg {

    background-color: $edfx_blue !important;

}

.edfx-dark-maroon-bg {

    background-color: $edfx_dark_maroon !important;

}

.edfx-beige-bg {

    background-color: $edfx_beige !important;

}

.edfx-black-bg {

    background-color: $edfx_black !important;

}